<launch>

    <arg name="ns" default="/" />
    <group ns="$(arg ns)">
        <rosparam command="load" file="$(find bobi_vision)/config/camera_config.yaml" />

        <include file="$(find bobi_vision)/launch/individual_tracker.launch" />
        <include file="$(find bobi_vision)/launch/robot_tracker.launch" />
        <include file="$(find bobi_vision)/launch/coordinate_converter.launch" />
        <include file="$(find bobi_vision)/launch/trajectory_identification.launch" />
        <include file="$(find bobi_vision)/launch/visualization.launch" />

        <!-- <include file="$(find bobi_vision)/launch/click_to_waypoint.launch" /> -->
        <include file="$(find bobi_vision)/launch/click_to_waypoint_rqt.launch" />

        <node name = "rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find bobi_vision)/perspectives/Toulouse2.perspective"/>
    </group>

</launch>